<div class="inner cover">
     <h1 class="cover-heading">Apache Zeppelin Gsoc 2015</h1>
     <p class="lead">Zeppelin is a collaborative data analytics and visualization tool for distributed, general-purpose data processing systems such as Apache Spark and Apache Flink. It has two main features, the data analytic phase and the data visualization phase. This project is an improvement or a re-design of the Data Visualization Component.</p>
     <p class="lead">
       <a href="https://cwiki.apache.org/confluence/display/ZEPPELIN/GoogleSummerOfCode#GoogleSummerOfCode-COMDEV-119ZeppelinGSoCProject:addmoreD3visualization" class="btn btn-lg btn-default">Read more</a>
     </p>
</div>